

body{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Abel', sans-serif;
    font-size:14px;
    line-height:24px; 
    font-weight:300;
    background: #007eff05;
}
.slide {
    z-index: 100;
    transition: left 0s .75s;
} 

.handel:hover  { 
    border: 1px solid #f35429;
} 


.handel:focus{ 
    border: 1px solid #f35429;
}  


[id^="slide"]:checked + .slide {
    display: block;
}

.slide-1,.slide-2,.slide-3,.slide-4,.slide-5,.slide-6 {
    display: none;
} 


input[type=radio]{
    display: none;
} 
ul.list{
    margin:0;	display:block;
    list-style: none;
}
ul.list li{
    font-size:12px;
    line-height:19px; 
    font-weight:300;   
    font-family: 'Open Sans', sans-serif;
    margin:0 0 15px;
    padding-right:10px;
    position:relative;
}

.buttons{
    width: 140px;
    padding-top: 5px;
}

h4 {
    font-size: 18px;
    color: #3e3e3e;
    margin: 0 0 7px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
} 

h1,h2{  
    margin: 0 0 7px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
} 

p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.light-black{
    background-color: #000000d9;
    padding-top: 15px;
}
.dark-black{
    background-color: #000;
}

.page-footer{
    color: #ffffff;
    padding-top: 15px;
    margin: 0 0 7px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.old-price{
    color: #a5a5a5!important;
    padding-top: 10px !important;
}